<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Step 1 Proficiencies
      </a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/">Back to Step 1 Proficiencies
    </a></p>
  </div>
</nav>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third">

      {{ backLink({
        "href": "/",
        "text": "Proficiency framework"
      }) }}
      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

      {{ contentsList({
        items: [
          {
            href: "/cms",
            text: "Introduction to Step 1"
          },
          {
            href: "/cms/introduction",
            text: "Overview of the proficiency framework"
          },
          {
            href: "/cms/structure",
            text: "How the proficiency framework fits together"
          },
          {
            href: "/cms/assessment",
            text: "How you'll be assessed"
          }
          ,
          {
            href: "/cms/resources",
            text: "Learning resources"
          }
          ,
          {
            href: "/cms/acknowledgements",
            text: "Acknowledgements",
            current: "true"
          }
        ]
      }) }}
    </div>
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-reading-width">

      <!-- Change the page title here -->
      <h1>
        <span class="nhsuk-caption-l nhsuk-caption--bottom">
          Step 1 Proficiencies
        </span>
        Acknowledgements
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
      <p>
        This framework has been developed in partnership with a wide range of stakeholders from practice and academia within the critical care community across England, Wales and Northern Ireland. Thanks are extended to all contributors specifically the following:
      </p>

      <hr />

      <h2>Chair</h2>

      <ul>
        <li><b>Melanie Kynaston</b></li>
      </ul>

      <hr />

      <h2>Working Party (2015)</h2>

      <ul>
      <li><strong>Andrea Baldwin</strong><br /><small>Lancs and South Cumbria Critical Care Network and CO Chair: National Network Directors</small></li>
      <li><strong>Andrea Berry</strong><br /><small>Greater Manchester Critical Care Network and Chair: UKCCNA</small></li>
      <li><strong>Angela Himsworth</strong><br /><small>Central England, Birmingham and the Black Country and North West Midlands Critical Care Network and Chair: CC3N</small></li>
      <li><strong>Ann Price</strong><br /><small>BACCN Representative and Canterbury Christ Church University</small></li>
      <li><strong>Anne Miles</strong><br /><small>Wye Valley NHS Trust, Hereford</small></li>
      <li><strong>Alison East</strong><br /><small>East Of England Critical Care Network</small></li>
      <li><strong>Alison Eddleston</strong><br /><small>University of Central Lancashire</small></li>
      <li><strong>Amelda Blignaut</strong><br /><small>IHAS Representative</small></li>
      <li><strong>Caroline Wood</strong><br /><small>Mid Trent Critical Care Network</small></li>
      <li><strong>Diane Eady</strong><br /><small>Mid Trent Critical Care Network</small></li>
      <li><strong>Helen Jones</strong><br /><small>Cheshire and Mersey Critical Care Network and The Walton Centre NHS Foundation Trust</small></li>
      <li><strong>Julie Platten</strong><br /><small>North of England Critical Care Network</small></li>
      <li><strong>Kate Deacon</strong><br /><small>University of Wolverhampton</small></li>
      <li><strong>Karen Donnelly</strong><br /><small>South Tees NHS Foundation Trust</small></li>
      <li><strong>Neville Rumsby</strong><br /><small>Liverpool Heart and Chest Hospital NHS Foundation Trust</small></li>
      <li><strong>Nicola Witton</strong><br /><small>Keele University</small></li>
      <li><strong>Lesley Durham</strong><br /><small>North of England Critical Care Network</small></li>
      <li><strong>Lorna Johnson</strong><br /><small>West Yorkshire Critical Care Network </small></li>
      <li><strong>Lorraine Marsons</strong><br /><small>Birmingham City University</small></li>
      <li><strong>Pauline Freeman</strong><br /><small>University of Hertfordshire</small></li>
      <li><strong>Robin Duncan</strong><br /><small>North of England Critical Care Network, City Hospitals Sunderland NHS Trust</small></li>
      <li><strong>Samantha Cook</strong><br /><small>Greater Manchester Skills Institute</small></li>
      <li><strong>Sheila Kinoulty</strong><br /><small>Critical Care Network of Northern Ireland, CCaNNI</small></li>
    </ul>

    <hr />

    <p>
      Thanks is also extended to the original 2012 working party.
    </p>

    <hr />

    <p class="nhsuk-body-s nhsuk-u-secondary-text-color">
      <strong>&copy; Critical Care Networks - National Nurse Leads (CC3N) 2015</strong>
    </p>
    <p class="nhsuk-body-s nhsuk-u-secondary-text-color">
      All rights reserved. No reproduction, copy or transmission of this publication may be made without written permission. No paragraph of this publication may be reproduced, copied or transmitted save with written permission or in accordance with the provisions of the Copyright, Designs and patents Act 1988.
    </p>
    <p class="nhsuk-body-s nhsuk-u-secondary-text-color">
      Neither the Critical Care Networks-National Nurse Leads (CC3N) nor the authors accept any responsibility for any loss or damage arising from actions or decisions based on the information contained in this publication. Ultimate responsibility for the treatment of patients and interpretation of the published materials lies with the Registered Nurse.
    </p>
    <p class="nhsuk-body-s nhsuk-u-secondary-text-color">
      This document has been produced with support from these organisations and is available through the CC3N website: www.cc3n.org.uk. It has received interest internationally and may be available in the future in alternative languages, it has also be used to inform registered nurse competency development in specialities outside of critical care.
    </p>

      <!-- End of content -->

      {{ pagination({
        "previousUrl": "/cms/resources",
        "previousPage": "Learning resources"
      }) }}

    </div>
  </div>
{% endblock %}
