<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-step2.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Step 3 proficiencies: Acknowledgements
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third">

      <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
        <h2 class="nhsuk-u-visually-hidden">Contents</h2>
        <ol class="nhsuk-contents-list__list">
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="index">Introduction to Step 3</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="resources">Learning resources</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="disclaimer">Disclaimer</a>
          </li>
          <li class="nhsuk-contents-list__item" aria-current="page">
            <span class="nhsuk-contents-list__current">Acknowledgements</span>
          </li>
        </ol>
      </nav>
    </div>
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-reading-width">

      <!-- Change the page title here -->
      <h1>
        <span class="nhsuk-caption-l nhsuk-caption--bottom">
          Step 3 proficiencies
        </span>
        Acknowledgements
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
      <p>
        This framework has been developed in partnership with a wide range of stakeholders from practice and academia within the critical care community across England, Wales and Northern Ireland. Thanks are extended to all contributors specifically the following:
      </p>

      <hr />

      <h2>Chair</h2>

      <ul>
        <li><b>Melanie Kynaston</b></li>
      </ul>

      <hr />

      <h2>Working Party (2015)</h2>

      <ul>
      <li><strong>Andrea Baldwin</strong><br /><small>Lancs and South Cumbria Critical Care Network and CO Chair: National Network Directors</small></li>
      <li><strong>Andrea Berry</strong><br /><small>Greater Manchester Critical Care Network and Chair: UKCCNA</small></li>
      <li><strong>Angela Himsworth</strong><br /><small>Central England, Birmingham and the Black Country and North West Midlands Critical Care Network and Chair: CC3N</small></li>
      <li><strong>Ann Price</strong><br /><small>BACCN Representative and Canterbury Christ Church University</small></li>
      <li><strong>Anne Miles</strong><br /><small>Wye Valley NHS Trust, Hereford</small></li>
      <li><strong>Alison East</strong><br /><small>East Of England Critical Care Network</small></li>
      <li><strong>Alison Eddleston</strong><br /><small>University of Central Lancashire</small></li>
      <li><strong>Amelda Blignaut</strong><br /><small>IHAS Representative</small></li>
      <li><strong>Caroline Wood</strong><br /><small>Mid Trent Critical Care Network</small></li>
      <li><strong>Diane Eady</strong><br /><small>Mid Trent Critical Care Network</small></li>
      <li><strong>Helen Jones</strong><br /><small>Cheshire and Mersey Critical Care Network and The Walton Centre NHS Foundation Trust</small></li>
      <li><strong>Julie Platten</strong><br /><small>North of England Critical Care Network</small></li>
      <li><strong>Kate Deacon</strong><br /><small>University of Wolverhampton</small></li>
      <li><strong>Karen Donnelly</strong><br /><small>South Tees NHS Foundation Trust</small></li>
      <li><strong>Neville Rumsby</strong><br /><small>Liverpool Heart and Chest Hospital NHS Foundation Trust</small></li>
      <li><strong>Nicola Witton</strong><br /><small>Keele University</small></li>
      <li><strong>Lesley Durham</strong><br /><small>North of England Critical Care Network</small></li>
      <li><strong>Lorna Johnson</strong><br /><small>West Yorkshire Critical Care Network </small></li>
      <li><strong>Lorraine Marsons</strong><br /><small>Birmingham City University</small></li>
      <li><strong>Pauline Freeman</strong><br /><small>University of Hertfordshire</small></li>
      <li><strong>Robin Duncan</strong><br /><small>North of England Critical Care Network, City Hospitals Sunderland NHS Trust</small></li>
      <li><strong>Samantha Cook</strong><br /><small>Greater Manchester Skills Institute</small></li>
      <li><strong>Sheila Kinoulty</strong><br /><small>Critical Care Network of Northern Ireland, CCaNNI</small></li>
    </ul>

    <hr />

    <p>
      Thanks is also extended to the original 2012 working party.
    </p>

    <hr /> 

    <img src="/images/logos.png" alt="Organisational logos" style="mix-blend-mode: multiply; max-width: 100%; margin-bottom: 24px;" />

      <!-- End of content -->

      {{ pagination({
        "previousUrl": "disclaimer",
        "previousPage": "Disclaimer"
      }) }}

    </div>
  </div>
{% endblock %}
