<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-step1.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Step 1 proficiencies: Learning resources
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third">

      <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
        <h2 class="nhsuk-u-visually-hidden">Contents</h2>
        <ol class="nhsuk-contents-list__list">
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="index">Introduction to Step 1</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="overview">Overview of the proficiency framework</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="structure">How the proficiency framework fits together</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="assessment">How you'll be assessed</a>
          </li>
          <li class="nhsuk-contents-list__item" aria-current="page">
            <span class="nhsuk-contents-list__current">Learning resources</span>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="disclaimer">Disclaimer</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="acknowledgements">Acknowledgements</a>
          </li>
        </ol>
      </nav>

    </div>
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-reading-width">

      <!-- Change the page title here -->
      <h1>
        <span class="nhsuk-caption-l nhsuk-caption--bottom">
          Step 1 proficiencies
        </span>
        Learning resources
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>
          <a href="https://www.baccn.org" target="_blank">
            British Association of Critical Care Nurses (BACCN)
          </a>
        </li>
        <li>
          Brain Trauma Foundation (2007) Guidelines for the management of traumatic brain injury. Journal of Neuro Trauma. 24 (1) pp S- 59 S - 64. p 17-23. p 47-74
        </li>
        <li>
          Borthwick, M, Bourne, R, Craig, M, Egan, A and Oxley, J (2006) Detection, prevention and treatment of delirium in critically ill patient. United kingdom Clinical Pharmacy association.
        </li>
        <li>
          <a href="https://www.cc3n.org.uk" target="_blank">
            Critical Care National Network Nurse Leads Forum (CC3N)
          </a>
        </li>
        <li>
          Department of Health (1996) Guidelines on admission to and discharge from intensive care and high dependency units. DoH, London
        </li>
        <li>
          Department of Health (2009) Reference guide to consent for examination or treatment (2nd edition) London: DH
        </li>
        <li>
          Department of Health (2008).Clean, safe care: Reducing infections and saving lives. Gateway ref: 9278
        </li>
        <li>
          Department of Health (2010) High Impact Intervention: Renal haemodialysis. DOH guideline.
        </li>
        <li>
          Department of Health (2012) Health and Social Care Act. March 2012, TSO
        </li>
        <li>
          EPUAP (2009) European Pressure Ulcer Advisory Panel and National Pressure Ulcer Advisory Panel. Treatment of pressure ulcers: Quick Reference Guide. Washington DC: National Pressure Ulcer Advisory Panel
        </li>
        <li>
          <a href="https://www.ficm.ac.uk/" target="_blank">
            Faculty of Intensive Care Medicine
          </a>
        </li>
        <li>
          <a href="https://www.icusteps.org/" target="_blank">
            ICU Steps - the intensive care patient support charity
          </a>
        </li>
        <li>
          <a href="https://www.icnarc.org/" target="_blank">
            Intensive Care National Audit & Research Centre (ICNARC)
          </a>
        </li>
        <li>
          <a href="https://www.ics.ac.uk/" target="_blank">
            Intensive Care Society (ICS)
          </a>
        </li>
        <li>
          Intensive Care Society (2004) Guidelines for Adult Organ and Tissue Donation Prepared on behalf of the Intensive Care Society by the Society's Working Group on Organ and Tissue Donation
        </li>
        <li>
          Intensive Care Society (2009) Standards and recommendations for the provision of renal replacement therapy on the intensive care unit in the United Kingdom. ICS guideline
        </li>
        <li>
          Intensive Care Society (2011) Guidelines for the transport of critically ill adults. Standards and Guidelines
        </li>
        <li>
          <a href="https://www.nice.org.uk/CG056" target="_blank">
            National Institute for Clinical Excellence (2007) Head Injury: Triage, Assessment and Early Management of Head Injury in Children, Infants and Adults
          </a>
        </li>
        <li>
          NCEPOD (2009) Adding Insult to injury: a review of the care of patients who dies in hospital with a primary diagnosis of acute kidney injury (acute renal failure. NICE publication
        </li>
        <li>
          <a href="https://www.england.nhs.uk/" target="_blank">
            NHS England
          </a>
        </li>
        <li>
          <a href="https://www.nhsconfed.org/" target="_blank">
            NHS Confederation (2012): The NHS handbook: The essential guide to the new NHS
          </a>
        </li>
        <li>
          <a href="https://www.norf.org.uk/" target="_blank">
            National Outreach Forum (NOrF)
          </a>
        </li>
        <li>
          <a href="https://www.nmc.org.uk/" target="_blank">
            Nursing & Midwifery Council (NMC)
          </a>
        </li>
        <li>
          <a href="https://www.rcn.org.uk/" target="_blank">
            Royal College of Nursing (RCN)
          </a>
        </li>
        <li>
          Tortora G. J. and Derrickson B., H. (2011) Principles of Anatomy and Physiology, International Student Version (13th Edition). John Wiley & sons, inc. New York.
        </li>
        <li>
          UK Code of Practice for the diagnosis of brain stem death; including guidelines for the identification and management of potential organs and tissue donors. Working Party established through the Royal College of Physicians on behalf of the Academy of Medical Royal Colleges (1998)
        </li>
      </ul>

      <!-- End of content -->

      {{ pagination({
        "previousUrl": "assessment",
        "previousPage": "How you'll be assessed",
        "nextUrl": "disclaimer",
        "nextPage": "Disclaimer"
      }) }}

    </div>
  </div>
{% endblock %}
